.Todo {
  background-image: linear-gradient(
    70deg,
    rgba(40, 55, 71, 0.9),
    rgba(174, 182, 191, 0.85),
    rgba(27, 38, 49, 0.6)
  );
  height: 100vh;
  width: 100vw;
}

.Header {
  color: #17202a;
  padding-top: 15px;
}

.List {
  background-color: #e5e7e9;
  border-radius: 12px;
  height: 80vh;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 15px;
}

.form-control:focus {
  color: #fff;
}
.form-control {
  color: #fff;
}

.form-control::placeholder {
  color: rgba(234, 237, 237, 0.8);
}

.list-group-item:last-child,
.list-group-item:first-child {
  border-radius: 12px;
}

.Products--not-found {
  color: #922b21;
  margin-top: 20px;
}

.Product {
  align-items: center;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.Footer .nav-link {
  color: #17202a;
}
